<!-- Services Section -->
<section id="services-buch" class="services gray">
<div class="container">
<div class="row text-center">
<div class="container">
<div class="row text-center">
    <a href="/index.php/vedenie-bukhglalterskogo-ucheta" target="_blank" class="col-md-6 block_a">
    <div class="row services-item sans-shadow text-center">
    <h4>Введение бух.учета</h4>
    <!--<p>Discover social marketing and take your business to new heights</p>--></div>
    <!-- /.row --></a>
<a href="/index.php/vedenie-bukhglalterskogo-ucheta" target="_blank" class="col-md-6 block_a">
<div class="row services-item sans-shadow text-center">
<h4>Восстановление бух.учета</h4>
<!--<p>Discover social marketing and take your business to new heights</p>--></div>
<!-- /.row --></a>
<!-- /.col-md-4 -->
<a href="/index.php/vedenie-bukhglalterskogo-ucheta" target="_blank" class="col-md-12 block_a">
<div class="row services-item sans-shadow text-center">
<h4>Аудиторские услуги</h4>
<!-- <p>Every website needs the right environment if it plans to be successful</p>--></div>
<!-- /.row --></a>
<!-- /.col-md-4 --></div>
<!-- /.row --></div>
<!-- /.container --></div>
<!-- /.row --></div>
<!-- /.container --></section>
<!-- /.section -->