
    <div class="calc white_back">
    <p class="tittle center-text">Здесь вы можете рассчитать стоимость ведения бухгалтерского учета.<br>
    *Все данные указываются за месяц.</p>
    <div class="gray_back ">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="name_sel">Счета-фактуры входящие</div>
                    <div class="sel">
                        <select name="schetvhod" size="1" value="0">
                                <option value="0">0</option>
                                <option value="1000">от 1 до 10</option>
                                <option value="1265">от 10 до 20</option>
                                <option value="1620">от 20 до 50</option>
                                <option value="1950">от 50 до 100</option>
                                <option value="2520">от 100 до 200</option>
                                <option value="3075">от 200 до 400</option>
                                <option value="3600">от 400 до 600</option>
                                <option value="4165">от 600 до 800</option>
                                <option value="4770">от 800 до 1000</option>
                                <option value="5510">от 1000 до 1300</option>
                                <option value="6300">от 1300 до 1700</option>
                                <option value="7245">свыше 1700</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="name_sel">Счета-фактуры исходящие</div>
                    <div class="sel">
                        <select name="schetishod" size="1" value="0">
                            <option value="0">0</option>
                            <option value="1000">от 1 до 10</option>
                            <option value="1265">от 10 до 20</option>
                            <option value="1620">от 20 до 50</option>
                            <option value="1950">от 50 до 100</option>
                            <option value="2520">от 100 до 200</option>
                            <option value="3075">от 200 до 400</option>
                            <option value="3600">от 400 до 600</option>
                            <option value="4165">от 600 до 800</option>
                            <option value="4770">от 800 до 1000</option>
                            <option value="5510">от 1000 до 1300</option>
                            <option value="6300">от 1300 до 1700</option>
                            <option value="7245">свыше 1700</option>
                      </select>

                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="name_sel">Номенклатура</div>
                    <div class="sel">
                               <select name="nomeklatura" size="1" value="0">
                        <option value="0">0</option>
                        <option value="1000">от 1 до 10</option>
                        <option value="1265">от 10 до 20</option>
                        <option value="1620">от 20 до 50</option>
                        <option value="1950">от 50 до 100</option>
                        <option value="2520">от 100 до 200</option>
                        <option value="3075">от 200 до 400</option>
                        <option value="3600">от 400 до 600</option>
                        <option value="4165">от 600 до 800</option>
                        <option value="4770">от 800 до 1000</option>
                        <option value="5510">от 1000 до 1300</option>
                        <option value="6300">от 1300 до 1700</option>
                        <option value="7245">свыше 1700</option>
              </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="name_sel">Банковские документы</div>
                    <div class="sel">
                        <select name="bankdoc" size="1" value="0">
                            <option value="0">0</option>
                            <option value="1000">от 1 до 10</option>
                            <option value="1265">от 10 до 20</option>
                            <option value="1620">от 20 до 50</option>
                            <option value="1950">от 50 до 100</option>
                            <option value="2520">от 100 до 200</option>
                            <option value="3075">от 200 до 400</option>
                            <option value="3600">от 400 до 600</option>
                            <option value="4165">от 600 до 800</option>
                            <option value="4770">от 800 до 1000</option>
                            <option value="5510">от 1000 до 1300</option>
                            <option value="6300">от 1300 до 1700</option>
                            <option value="7245">свыше 1700</option>
              </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="name_sel">Численость</div>
                    <div class="sel">
                          <select name="chislenost" size="1" value="0">
                                <option value="0">0</option>
                                <option value="1500">от 1 до 5</option>
                                <option value="2500">от 5 до 10</option>
                                <option value="3450">от 10 до 20</option>
                                <option value="4725">от 20 до 50</option>
                                <option value="6000">от 50 до 100</option>
                                <option value="8100">от 100 до 200</option>
                                <option value="10250">от 200 до 400</option>
                                <option value="12375">от 400 до 600</option>
                                <option value="14700">от 600 до 800</option>
                                <option value="17225">от 800 до 1000</option>
                                <option value="20300">от 1000 до 1300</option>
                                <option value="23625">от 1300 до 1700</option>
                                <option value="27600">свыше 1700</option>
                          </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="name_sel">А/отчет касса</div>
                    <div class="sel">
                      <select name="otchkassa" size="1" value="0">
                            <option value="0">0</option>
                            <option value="1000">от 1 до 10</option>
                            <option value="1265">от 10 до 20</option>
                            <option value="1620">от 20 до 50</option>
                            <option value="1950">от 50 до 100</option>
                            <option value="2520">от 100 до 200</option>
                            <option value="3075">от 200 до 400</option>
                            <option value="3600">от 400 до 600</option>
                            <option value="4165">от 600 до 800</option>
                            <option value="4770">от 800 до 1000</option>
                            <option value="5510">от 1000 до 1300</option>
                            <option value="6300">от 1300 до 1700</option>
                            <option value="7245">свыше 1700</option>
                      </select>
                    </div>
                </div>

            </div>
         
        </div>
    </div>
     
     <!-- второй блок -->
      <div class="white_back tabs">
        <div class="container">
            <div class="row">
                 <div class="col-lg-6 col-md-6 col-sm-12">
                  <input type="checkbox" id="active-1" name="a" value="0.5" >
                  <div class="os os_name">ОСНО</div>
                  <div class="os os_chec">
                      <span class="checkbox_switch" id="check-1"></span>
                  </div>
                
                      
                </div>
                 <div class="col-lg-6 col-md-6 col-sm-12">
                  <input type="checkbox" id="active-2" name="a" value="0.3">
                  <div class="os os_name">Вино-водка (опт.)</div>
                  <div class="os os_chec">
                      <span class="checkbox_switch" id="check-2"></span>
                  </div>
                
                      
                </div>
                 <div class="col-lg-6 col-md-6 col-sm-12">
                  <input type="checkbox" id="active-3" name="a" value="0.1">
                  <div class="os os_name">Есть филиал</div>
                  <div class="os os_chec">
                      <span class="checkbox_switch" id="check-3"></span>
                  </div>
                
                      
                </div>
                 <div class="col-lg-6 col-md-6 col-sm-12">
                  <input type="checkbox" id="active-4" name="a" value="0.2">
                  <div class="os os_name">Вино-водка (розн.)</div>
                  <div class="os os_chec">
                      <span class="checkbox_switch" id="check-4"></span>
                  </div>
                
                    </div>   
                 <div class="col-lg-6 col-md-6 col-sm-12">
                  <input type="checkbox" id="active-5" name="a" value="0.2">
                  <div class="os os_name">Раздельный учет</div>
                  <div class="os os_chec">
                      <span class="checkbox_switch" id="check-5"></span>
                  </div>
                 </div>
                      
                 <div class="col-lg-6 col-md-6 col-sm-12">
                  <input type="checkbox" id="active-6" name="a" value="2000">
                  <div class="os os_name">Кадровый учет	</div>
                  <div class="os os_chec">
                      <span class="checkbox_switch" id="check-6"></span>
                  </div>
                
                      
                </div>
            </div>
          
        </div>
        <div class="enable"></div>
    </div>
    
    <div class="container price_itog">
        <div class="row">
                <div class="price_1">
                    <div class="name">Сумма</div>
                    <div class="price"><span class="dinamic_price_summ">0</span> руб.</div>
                </div>
            </div>
    
    </div>
     
      <div class="container-fluid price_itog">
        <div class="row">
             <div class="btn_click_blue">Оформить заявку</div>
            </div>
    
    </div>
     
      
      
    </div>
