<div id="contact" class="contact content-section no-bottom-pad">
<div class="container">
<div class="row text-center">
<div class="col-md-12">
<h2>Связаться с нами</h2>
<!-- <h3 class="caption gray">Feel free to get in touch with us if you have a new project or simply something awesome</h3>--></div>
<!-- /.col-md-12 --></div>
<!-- /.row --></div>
<!-- /.container -->
<div class="container">
<div class="row form-container">
<div class="col-md-8 contact-form">
<h3>Заполните поля контактной формы</h3>
<form id="form3" class="ajax-form" action="" method="post">
<div class="form-group"><input id="name" class="form-control name" name="name" required="" type="text" value="" placeholder="Имя..." /></div>
<div class="form-group"><input id="email" class="form-control email" name="email" required="" type="email" value="" placeholder="Email..." /></div>
<div class="form-group"><input id="phone" class="form-control phone" name="phone" required="" type="phone" value="" placeholder="Контактный телефон..." /></div>
<div class="form-group"><textarea class="form-control" name="message" required="" rows="4" placeholder="Ваше сообщение"></textarea></div>
<div class="form-group"><button class="btn btn-default my_feed_button" name="submit"  id="feed_button3"  type="submit"><i class="fa fa-paper-plane fa-fw"></i> Отправить</button></div>
</form></div>
<!-- /.contact-form -->
<div class="col-md-4 contact-address">
<h3>Наш адрес</h3>
<div>г. Омск, 644043, <br /> ул. Фрунзе, 1к. 3 (ост. Рабиновича)</div>
<div class="mail_main"><a href="mailto:glavbuh@glavbuh-best">glavbuh@glavbuh-best@.ru</a></div>
<div class="info_text tel-fax block">
<div class="tel"> 
    <p>тел./факс:</p> 
    <p class="number"><span class="blue">(3812)</span> 90-50-83</p> 
</div>
<div class="fax"><p class="number"><span class="blue">(3812)</span> 33-70-05</p> </div>
</div>
<div class="text_soc">мы в соц. сетях:</div>
<div class="icon"><a href="https://vk.com/glavbuhomsk" target="_blank" class="soc vk"></a> <a href="https://ok.ru/group/52469059420249" target="_blank" class="soc od"></a> <a target="_blank" href="https://ru.linkedin.com/in/%D0%B3%D0%BB%D0%B0%D0%B2%D0%B1%D1%83%D1%85-%D0%B3%D0%BA-807334106" class="soc lin"></a></div>

</div>
<!-- /.contact-address --></div>
<!-- /.row --></div>
<!-- /.container --></div>